body{
    font-family: 'Darumadrop One';
    background-color: #171717;
}

hr{
    height: 5px;
    background-color: #e4e2dd;
    border-radius: 10px;
    width: 1300px
}

h1{
    color: #e4e2dd;
    font-weight: 800;
    font-size: 96px;
}

h2{
    color: #e4e2dd;
    font-weight: 800;
    font-size: 96px;
}

h3{
    font-size: 62px;
    color: #e4e2dd;
}

p{
    font-family: 'Darumadrop One';
    color: #e4e2dd;
    font-size: 32px;
}

ul{
    font-size: 32px;
}
